@model NewPostViewModel
@using Cactus.Models.Database

<div class="row">
    <div class="col"></div>
    <div class="col">
    <form asp-controller="post" asp-action="AddPost" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="text-center">
            <img src="" id="myPostPhoto" class="postPhoto">
            </div>
            <span>Изображение должно быть не больше чем 590px на 450px</span>
            <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('postPhoto').click()">Добавить изображение</button>
            <input type='file' id="postPhoto" style="display:none" asp-for="Post.PostPhoto">
        <div>
            <label asp-for="Post.Title"></label>
            <input class="form-control" asp-for="Post.Title">
        </div>
        <div>
            <label asp-for="Post.Description"></label>
            <textarea style="height: 150px;" class="form-control" asp-for="Post.Description"></textarea>
        </div>
        <div>
            <label asp-for="Post.CategoryId">Выберите категорию</label>
            <select class="form-select" asp-for="Post.CategoryId" asp-items="@(new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name)))"></select>
        </div>
        <div>
            <label asp-for="Post.Tags">Напишите теги начиная cо знака # без пробелов</label>
            <input class="form-control" asp-for="Post.Tags" id="myTag" />
        </div>
        <hr />
            <h4>Создайте или выберите вид монетизации поста, или нажмите кнопку "сделать пост бесплатным"</h4>
        <div>
            <input onclick="freePost()" type="checkbox" class="btn-check btn-sm" asp-for="Post.IsFree" value="true" autocomplete="off">
            <label class="btn btn-outline-danger" for="Post_IsFree">Сделать пост бесплатным</label>
        </div>
        <div id="notFree">
            <div>
                @{
                    if (Model.DonationOptions is not null) {
                        var optionsForPost = Model.DonationOptions.Where(x =>
                        x.MonetizationTypeId != (int)Cactus.Models.Enums.MonetizationType.Goal &&
                        x.MonetizationTypeId != (int)Cactus.Models.Enums.MonetizationType.Remittance).ToList();
                        <h5>Созданные опции</h5>
                        <select onclick="newOption()" class="form-select" asp-for="SelectedDonationOption" asp-items="@(new SelectList(optionsForPost, nameof(DonationOption.Id), nameof(DonationOption.OptionName)))">
                            <option value="0" selected>Создать новую опцию</option>
                        </select>

                    }
                }
            </div>
            <div id="newOption">
                <div>
                    <h5>Добавить новый вид монетизации</h5>
                    <label asp-for="NewDonationOption.OptionName"></label>
                    <input class="form-control" asp-for="NewDonationOption.OptionName" />
                </div>
                <div>
                    <label asp-for="NewDonationOption.Description"></label>
                    <textarea class="form-control" asp-for="NewDonationOption.Description"></textarea>
                </div>
                <div>
                    <label>Введите сумму за просмотр поста</label>
                    <input class="form-control" asp-for="NewDonationOption.Price" />
                    <input type="hidden" asp-for="NewDonationOption.MonetizationTypeId" value="@((int)Cactus.Models.Enums.MonetizationType.OneTimePurchase)" />
                    <input type="hidden" asp-for="NewDonationOption.AuthorId" value="@Convert.ToInt32(User.FindFirst("Id").Value)" />
                </div>
            </div>
        </div>
            <button type="submit" class="btn btn-danger">Опубликовать</button>
    </form>
    </div>
    <div class="col"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function getTag() {
        var inputElement = document.getElementById("myTag");
        var result = inputElement.value.match(/#[a-zA-Z]/);
        if (inputElement.value.indexOf(' ') == -1 && result != null) {
            document.getElementById("allTags").value += inputElement.value;
        }
    }
    function newOption() {
        var sel = document.getElementById('SelectedDonationOption')
        var newOption = document.getElementById('newOption')
        if (sel.value > 0) {
            newOption.style.display = 'none'
        }
        else newOption.style.display = 'block'
    }
    function freePost() {
        var free = document.getElementById('Post_IsFree')
        var notFree = document.getElementById('notFree')
        if (free.value == "true") {
            notFree.style.display = 'none'
        }
        else notFree.style.display = 'block'
    }

    function sendDonate() {
        var optionId = document.getElementById('donateBtn')
        document.getElementById('PaidSub_DonationOptionId').value = optionId.value
    }
</script>
<style>
    [src=""] {
        display: none;
    }
</style>