@model PagingProjectViewModel

<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                @if (Model.Projects != null) {
                    @foreach (var p in Model.Projects) {
                        <tr>
                            <td>@p.Title</td>
                            <td>@await Component.InvokeAsync("UrlProject", new { project = @p })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div page-model="@Model.ProjectsPagingInfo" page-action="Index" type-page="projectPage"
             page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>